@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Remove number spinner thing on all browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
